{% extends 'catalog/base.html' %}
{% load catalog_image_tags %}

{% block content %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header">Удалить пост</div>
            <div class="card-body">
                <label class="form-label">Хотите удалить данный пост?  {{ object.title }}</label>
                <div class="mb-3">
                    <button type="submit" class="btn btn-danger">Подтвердить</button>
                    <a href="{% url 'blog:blog_list' %}" class="btn btn-warning">Отмена</a>
                </div>
            </div>
        </div>
    </form>

{% endblock %}